body {
    margin: 0px;
    font-family: 'Odibee Sans', cursive;
    background: url(../imagenes/fondo-bosque2.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.button{
    transform: translateX(30%);
    border: none;
    width: 60%;
    color: white;
    font-size: 20px;
    background:  #000000;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: cadetblue;
}

.contenedor{
    width: 100%;
    padding: 25px;
}

.contenedor1{
    margin:auto;
    background-color: #0066FF;
    width: 60%;
    padding: 25px;
}
.contenedor2{
    margin:auto;
    background-color: #00CC00;
    width: 60%;
    padding: 25px;
}
.contenedor3{
    margin:auto;
    background-color: #FF6600;
    width: 60%;
    padding: 25px;
}
.contenedor4{
    margin:auto;
    background-color: #FFFF33;
    width: 60%;
    padding: 25px;
}

.contenedor5{
    margin:auto;
    background-color: #CC0000;
    width: 60%;
    padding: 25px;
}


h1{
    text-align: center;
    color: #000000;
    font-size: 60px;
}

h3{
    text-align: center;
    color: #000000;
    font-size: 45px;
}

h4{
    text-align: center;
    color: #000000;
    font-size: 25px;
}

.caja {
font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
font-size: 18px;
font-weight: 400;
text-align: center;
background: #99ffcc;
padding: 5px;
border-radius: 25px 0px 25px 0px;
-moz-border-radius: 25px 0px 25px 0px;
-webkit-border-radius: 25px 0px 25px 0px;
border: 2px solid #5878ca;
}

.input-contenedor{
    margin-bottom: 15px;
}

@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        border-radius: 2%;
    }
}

@media(min-width:768px)
{
    .formulario2{
        background-color: #0066FF;
        margin: auto;
        width: 500px;
        border-radius: 2%;
    }
}

.formulario{
    margin-top: 60px;
}

h5{
    text-align: center;
    color: #000000;
    font-size: 25px;
}

input[type="text"],
input[type="password"]{
background: #99ffcc;
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}

.input-contenedor{
    margin-bottom: 15px;
}

.imgRedonda {
    transform: translateX(-10%);
    transform: translateY(20%);
    margin-bottom: 15px;
    display:block;
    margin:auto;
    width:120px;
    height:120px;
    border-radius:150px;
}

.medalla {
    display:block;
    margin:auto;
    width:100px;
    height:100px;
}